<!DOCTYPE html>

<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
			crossorigin="anonymous">
	</script>

	<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700,800' rel='stylesheet' type='text/css'>

	<link asp-href-include="~/css/animate.min.css" asp-append-version="true" rel="stylesheet" type="text/css" />

	<link asp-href-include="~/css/bootstrap.min.css" asp-append-version="true" rel="stylesheet" type="text/css" />

	<link asp-href-include="~/css/font-awesome.min.css" asp-append-version="true" rel="stylesheet" type="text/css" />

	<link asp-href-include="~/css/jquery.fullPage.css" asp-append-version="true" rel="stylesheet" type="text/css" />

	<link asp-href-include="~/css/main-stylesheet.css" asp-append-version="true" rel="stylesheet" type="text/css" />

</head>

<body>

	<div id="fullpage">

		@RenderBody()

		@await Html.PartialAsync(partialViewName: "_Footer")

	</div>


	<script src="/js/custom.js" asp-append-version="true"></script>

	<script src="/js/jquery.fullPage.js" asp-append-version="true"></script>

	<script src="/js/jquery.simple-text-rotator.js" asp-append-version="true"></script>

	<script src="/js/smoothscroll.js" asp-append-version="true"></script>

	<script src="/js/wow.min.js" asp-append-version="true"></script>

</body>

</html>