<div id="work" class="section">

	<div class="container">

		<div class="row">

			<div class="col-md-12 wow bounce">

				<h2>HARD SKILLS</h2>

			</div>

		</div>

		<div class="row">

			<div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">

				<div class="media">

					<div class="media-object media-left">

						<i class="fa fa-laptop"></i>

					</div>

					<div class="media-body">

						<h3 class="media-heading">ORM</h3>
						<p>EF Core: Database connection, migrations, query preparation, change tracker.</p>

					</div>

				</div>

			</div>

			<div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">

				<div class="media">

					<div class="media-object media-left">

						<i class="fa fa-database"></i>

					</div>

					<div class="media-body">

						<h3 class="media-heading">Database</h3>
						<p>MSSQL, MySQL, SQLite, Redis</p>

					</div>

				</div>

			</div>

			<div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">

				<div class="media">

					<div class="media-object media-left">

						<i class="fa fa-server "></i>

					</div>

					<div class="media-body">

						<h3 class="media-heading">Backend</h3>

						<p>Web API + Swagger with Jwt Bearer Auth.</p>

					</div>

				</div>

			</div>

		</div>

		<div class="row">

			<div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">

				<div class="media">

					<div class="media-object media-left">

						<i class="fa fa-laptop"></i>

					</div>

					<div class="media-body">

						<h3 class="media-heading">Desktop</h3>
						<p>WPF</p>

					</div>

				</div>

			</div>

			<div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">

				<div class="media">

					<div class="media-object media-left">

						<i class="fa fa-link"></i>

					</div>

					<div class="media-body">

						<h3 class="media-heading"></h3>
						<p></p>

					</div>

				</div>

			</div>

			<div class="col-md-4 col-xs-11 wow fadeInUp" data-wow-delay="0.6s">

				<div class="media">

					<div class="media-object media-left">

						<i class="fa fa-paper-plane"></i>

					</div>

					<div class="media-body">

						<h3 class="media-heading"></h3>

						<p>
							
						</p>

					</div>

				</div>

			</div>

		</div>

	</div>

</div>