@model IEnumerable<PetProject>

<div id="portfolio" class="section">

	<div class="container">

		<div class="row">

			<div class="col-md-12">

				<h2 class="wow bounce">LOOK AT MY CODE</h2>

			</div>

			@foreach (var item in Model)
			{
				<div class="col-md-4 col-xs-6 wow fadeIn" data-wow-delay="0.6s" onclick="location.href='@item.ApiUrl'">
					
					<div class="portfolio-thumb">
						
						<img src="images/portfolio-img1.jpg" class="img-responsive" alt="portfolio img">
						
						<div class="portfolio-overlay">
							
							<h4>@item.RepositoryName</h4>
							<h5>@item.Description</h5>
						
						</div>
						
					</div>
					
				</div>
			}

		</div>

	</div>

</div>