<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>

    @await Component.InvokeAsync(name: "Home")

    @await Component.InvokeAsync(name: "HardSkillsOverview")

    @await Component.InvokeAsync(name: "AboutMe")

    @await Component.InvokeAsync(name: "Portfolio")

    @await Component.InvokeAsync(name: "Contact")

</body>

</html>